*{
  padding: 0%;
  margin: 0%;
}
.main {
   display: flex; 

}
.logo {
width: 20%;
height: 10vh;

padding: 20px;
margin: 10px 20px 40px;

}
.nav {
  width: 60%;
  height: 10vh;
  
  }
.nav ul li {

  display:inline-flex;
  margin-right: -10px;
  margin-top: 10px;
  

}
.nav ul li a{
margin-top: 30px;
  text-decoration: none;
  padding:10px;
  margin-right: 10px;
  color: black;  
}

  .search {
    width: 20%;
    height: 10vh;
    
    
    }
    .search {
      display:inline-flex;
    }
    
    .search ul li {
      display:inline-flex;
      padding: 5px 5px;
      margin-top: 50px;
      
    }
    .search ul li a{
      color: black;
      
    }


    .search p {
      display:inline-flex;
      margin-top: 20px;
      width: 50px;
      padding-left: 2px;
    
    }
.galaxy {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  margin-top: -40px;
  height: 820px;
  width: 100%;
  background-size: cover;
  position:relative;
background-image: url(IMAGES/galaxy.webp);
}

.fold{
  margin-right: 900px;
  margin-top: 400px;
  font-size: x-large;
  font-family: sans-serif;
}
.fold a{
  color: blue;
  padding: 6px 6px;
}
.fold a :hover{
  transform: scale(1.2);
  color: blueviolet;
  transition: scale(1.2);
  background-color: black;
}

.flip{
  margin-left: 200px;
  margin-top: 400px;
  font-size: x-large;
  font-family: sans-serif;

}
.flip a{
  color: blue;
  padding: 6px 6px;
}

.second{
  width: 100%;
  height: auto;
  /* background-color: aqua; */
  text-align: center;
}

.second ul {
  display: inline-flex;
  
}
.second ul li{
  margin-top: 40px;
  list-style: none;
  font-size: x-large;
font-weight: bold;
}
  .second ul li a{
    text-decoration: none;
    color: black;
    margin: 30px;

    }
  .second h1{
    font-size: 60px;
  }

  .main{
    width: 100%;
    margin-top: 50px;
     
    display: flex;
       background-size: cover;
    
    }
    .cricket {
      width: 80px;
    height: 20px;
    border-radius: 50px;

    
    }
    .imgesbg{
    border-radius: 40px;
    width: 1000px;
    height: 800px;
    }
    .fourbox{
    
      width: -50px;
    height: 70vh;
    /* background-color:cornflowerblue; */
    display: flex;
  
    }
    
    .container {
    
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-radius: 40px;
    }
    .one {
      background-image: url(IMAGES/flip4.webp);
      width: 370px;
      height: 45vh;
      border-radius: 40px;
      background-size: cover; 
      overflow: hidden;
      border: 6px solid black;
      position: relative;
      object-fit: cover;
     
    }
    .body{
    
      width: 100%;
      height: 100%;
      top: 0%;
      right: 0%;
      position: absolute;
      backdrop-filter:blur(px);
      border-radius: 15px;
    }
    
    .one h4 {
      margin-left: 20%;
      margin-top: 50%;
      font-weight: bolder;
      font-size: xx-large;
      color: black;
      font-weight: bolder;
    }
    
    .one button{
    
      margin-left: 40%;   
      width: 20%;
      height: 10%;
      color: lightgrey;
      background-color: black;
      border-radius: 40px; 
    margin-top: 20px;
    } 
    
    .one p{
      margin-left: 15%; 
      padding: 4%;
      color: black;
      font-weight: bold;
      display: inline-block;
      margin-top: 17px;
    }
        
    .two {
      width: 370px;
      height: 45vh;
      background-color: white;
      border-radius: 40px;
      background-image: url(IMAGES/freestyle.avif);
      background-size: cover;
      border: 6px solid black;
    }
    .two h4 {
      margin-left: 10%;
      margin-top: 10%;
      font-weight: bolder;
      font-size: xx-large;
      color: black;
      font-weight: bolder;
    }
    
    .two button{
    
      margin-left: 40%;   
      width: 20%;
      height: 10%;
      color: lightgrey;
      background-color: black;
      border-radius: 40px; 
    
    } 
    
    .two p{
      margin-left: 15%; 
      padding: 4%;
      color: black;
      font-weight: bold;
      display: inline-block;
      margin-top: 170px;
    }
    .two button{
      margin-top: 30px;
    }

    .three {
      width: 370px;
      height: 45vh;
      background-color: purple;
      border-radius: 40px;
      background-image: url(IMAGES/fold4mobile.jpeg);
      background-size: cover;
      border: 6px solid black;
    }

    
    .three h4 {
      margin-left: 20%;
      margin-top: 50%;
      font-weight: bolder;
      font-size: xx-large;
      color: black;
      font-weight: bolder;
    }
    
    .three button{
    
      margin-left: 40%;   
      width: 20%;
      height: 10%;
      color: lightgrey;
      background-color: black;
      border-radius: 40px; 
    margin-top: -30px;
    } 
    
    .three p{
      margin-left: 15%; 
      padding: 4%;
      color: black;
      font-weight: bold;
      display: inline-block;
      margin-top: 1px;
    }
    .three button{
      margin-top: -30px;
    }

    .four {
      width: 370px;
      height: 45vh;
      background-color: yellow;
      border-radius: 40px;
      background-image: url(IMAGES/a04.jpeg);
      background-size: cover;
      border: 7px solid black;
    }
    .four h4 {
      margin-left: 20%;
      margin-top: 50%;
      font-weight: bolder;
      font-size: xx-large;
      color: black;
      font-weight: bolder;
    }
    
    .four button{
    
      margin-left: 40%;   
      width: 20%;
      height: 10%;
      color: lightgrey;
      background-color: black;
      border-radius: 40px; 
    
    } 
    
    .four p{
      margin-left: 15%; 
      padding: 4%;
      color: black;
      font-weight: bolder;
      display: inline-block;
      margin-top: 10px;
    }
    .four button{
      margin-top: 10px;
    }
    
    .mobile{
      width: 100%;
      height: 900px;
      /* background-color: aqua; */
      text-align: center;
      background-color: #f5f5f5;
      background-image: url(IMAGES/galaxy.webp);
      background-size: cover;
    }
    
    .mobile ul {
      display: inline-flex;
      
    }
    .mobile ul li{
      margin-top: 40px;
      list-style: none;
      font-size: x-large;
    font-weight: bold;
    }
      .mobile ul li a{
        text-decoration: none;
        color: black;
        margin: 30px;
    
        }
      .mobile h2{
        font-size: 60px;
        font-family: sans-serif;
        margin-top:100px;
      }
    .mobile p{
      font-size: 3.4444444vw;
      font-weight: bold;
      margin-top: 600px;
      font-family: sans-serif;
      margin-bottom: 20px;
    }  

    .mobile a{
      color: black;
      font-size: large;
      
    }
    .mobile button{
      width: 5%;
      height: 5%;
      color: lightgrey;
      background-color: black;
      border-radius: 40px; 
      
    }


    .TV {
      width: 100%;
      height: 900px;
      /* background-color: aqua; */
      text-align: center;
      background-color: #f5f5f5;
      background-image: url(IMAGES/lifestyle.webp);
      background-size: cover;
    }
    
    .TV ul {
      display: inline-flex;
      
    }
    .TV ul li{
      margin-top: -20px;
      list-style: none;
      font-size: x-large;
    font-weight: bold;
    }
      .TV ul li a{
        text-decoration: none;
        color: black;
        margin: 30px;
    
        }
      .TV h2{
        font-size: 60px;
        font-family: sans-serif;
        margin-top:100px;
        padding: 20px;
      }
    .TV p{
      font-size: 3.4444444vw;
      font-weight: bold;
      margin-top: 580px;
      font-family: sans-serif;
      margin-bottom: 20px;
    }  
    .TV h6{
      font-size: 1.33vw;
      margin-top: -20px;
    }

    .TV a{
      color: black;
      font-size: large;
      margin-top: 20px;
      
    }
    .TV button{
      width: 5%;
      height: 5%;
      color: lightgrey;
      background-color: black;
      border-radius: 40px; 
      
    }

    .machine {
      width: 100%;
      height: 900px;
      /* background-color: aqua; */
      text-align: center;
      background-color: #f5f5f5;
      background-image: url(IMAGES/washing.jpg);
      background-size: cover;
      margin-top: 70px;
    }
    
    .machine ul {
      display: inline-flex;
      
    }
    .machine ul li{
      margin-top: -20px;
      list-style: none;
      font-size: x-large;
    font-weight: bold;
    padding: 5px 5px;
    font-size: 1.32222vw;
    }
      .machine ul li a{
        text-decoration: none;
        color: black;
        margin-top: 30px;
    
        }
      .machine h2{
        font-size: 80px;
        font-family: sans-serif;
        margin-top:100px;
        padding: 29px;
      }
      .machine h5{
        font-size: 1.33vw;
        margin-top: -20px;
      }
    .machine p{
      font-size: 3.4444444vw;
      font-weight: bold;
      margin-top: 550px;
      font-family: sans-serif;
      margin-bottom: 20px;
    }

    

    .machine a{
      color: black;
      font-size: large;
      margin-top: 20px;
 
    }
    .machine button{
      width: 5%;
      height: 5%;
      color: lightgrey;
      background-color: black;
      border-radius: 40px; 
      
    }
    .product h1{
      font-size: 3.333333vw;
      text-align: center;
      margin-top: 40px;
      font-family: sans-serif;
    }
    
    .mob h2{
      text-align: center;
      font-size: 30px;
      margin: 0;
      padding-top: 10px;
      
    }

    .mob{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin: 50px 0;

    }
.contant{
  width: 20%;
  margin: 50px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.22);
  transition: .4s;
  background: #f2f2f2;
}
.mob img{
  width: 300px;
  height: 300px;
  margin: 0 auto;
  display: block;
}
.mob button{
  text-align: center;
  font-size: 24px;
  color: #f2f2f2;
  background-color: black;
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;  
}
.mob a{
  font-size: 1.1111vw;
  color: blue;
}
.Explore{
  font-size: 1.333333vw;
  text-align: center;
  margin-top: 40px;
  font-family: sans-serif; 
}
.bannar img{
  border: 10px solid rosybrown;
  border-radius: 20px;
  margin-top: 80px;
  float: left;
  transition: 1s;
}
.bannar :hover{
  transition: scale(1.2);
}

/* +.swiper{
  display: inline-block;
  margin-left: 40px;
  
} */

.swiper :hover{
  display: inline-block;
  transform: matrix(1.2);
}

ol{
  border: 10px solid white;
  margin-left: 50px;
  font-size: xx-large;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: -60px;
  justify-content: flex-start;
  margin-top: 300px;
}
.swiper ol li{
  transition: all;
margin-left: 60px;
}
.swiper button{
  color: rgb(2, 2, 2);
  font-size: medium;
  background-color: black;
  border: 10px solid black;
  border-radius: 30px;
  transition: scale(1.2);
}
.swiper a{
  color: white;
  text-decoration: none;
}
.search{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: inline;
}
.search h1{
  font-size: 2.22222vw;
  margin-top: 300px;
  margin-left: 550px;
}

.key{
  width: 330px;
  border: 3px solid #009933;
  padding: 9px;
  border-radius: 30px;
}

input{
  background-color: transparent;
  border: 0px;
  outline: 0px;
  width: 300px;
}

.key{
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-left: 700px;

  
}
.foot{
  font-family: sans-serif;
  margin-top: 50px;
  text-align: center;
  font-size: large;
  padding: 40px 40px 40px;
}